@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  @apply font-mulish;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded transition duration-200 shadow focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  .btn-teal {
    @apply btn bg-[#42D49C] text-white hover:bg-[#3e7b91] hover:shadow-md dark:bg-[#42D49C] dark:text-white dark:hover:bg-[#2bbd8c];
  }
  .btn-standard {
    @apply btn bg-[#012B3A] text-white hover:bg-[#1d416e] disabled:bg-gray-300 disabled:cursor-not-allowed dark:bg-[#143059] dark:hover:bg-[#1a2332];
  }
  .btn-cancel {
    @apply btn bg-[#d0d6de] text-gray-700 hover:bg-gray-600 dark:bg-[#2a3340] dark:text-gray-300 dark:hover:bg-[#19202b];
  }
  .btn-pink {
    @apply btn bg-[#fef1e9] text-[#143059] hover:bg-[#fac6a6] dark:bg-[#3e2c2a] dark:text-white dark:hover:bg-[#a67c52];
  }
  .btn-pill {
    @apply btn bg-[#d0d6de] text-[#143059] rounded-full hover:bg-[#b0b9c5] dark:bg-[#2a3340] dark:text-white dark:hover:bg-[#19202b];
  }
  .btn-yellow {
    @apply btn bg-[#fba919] text-[#143059] hover:bg-[#fccc75] hover:text-[#1d416e] hover:ring-2 hover:ring-gray-300 dark:bg-[#fba919] dark:text-[#143059] dark:hover:bg-[#fccc75];
  }
  .btn-nav {
    @apply btn px-4 py-2 hover:bg-[#e8f7f1] dark:hover:bg-[#143059] hover:text-[#0c915e] dark:hover:text-[#42D49C];
  }
  .btn-nav-select {
    @apply btn block px-4 py-2 hover:bg-[#e8f7f1] dark:hover:bg-[#143059];
  }

  .pill {
    @apply btn bg-[#d0d6de] text-[#143059] rounded-full dark:bg-[#2a3340] dark:text-white;
  }

  .header {
    @apply font-mulish font-bold text-3xl uppercase rounded-full dark:text-white;
  }

  .h1 {
    @apply text-4xl md:text-5xl font-extrabold tracking-tight mb-4;
  }
  .h2 {
    @apply text-3xl font-bold mb-4;
  }
  .h3 {
    @apply text-xl font-bold mb-2;
  }
  .h4 {
    @apply text-lg font-bold mb-1;
  }
  .h5 {
    @apply h1 font-overlock;
  }
}

@layer utilities {
  .bg-primary {
    @apply bg-[#0c915e] dark:bg-[#42D49C];
  }
  .bg-secondary {
    @apply bg-[#e8f7f1] dark:bg-[#143059];
  }
  .bg-surface {
    @apply bg-white dark:bg-[#19202b];
  }
  .text-primary {
    @apply text-[#143059] dark:text-white;
  }
  .text-secondary {
    @apply text-gray-600 dark:text-gray-300;
  }
  .border-primary {
    @apply border-[#0c915e] dark:border-[#42D49C];
  }

}
